.project-page-wrapper {
    margin: 20px auto;
    max-width: 1024px;
}

.project-flex {
    display: flex;
    &.space-between {
        justify-content: space-between;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.flex-end {
        align-items: flex-end;
    }
    &.flex-start {
        align-items: flex-start;
    }
    &.align-center {
        align-items: center;
    }
    &.justify-center {
        justify-content: center;
    }
    &.j-flex-end {
        justify-content: flex-end;
    }
}