@import "./_variables.scss";

@mixin default-box-shadow {
    box-shadow: 1px 1px 17px -6px #000;
}

@mixin input-placeholder {
    color: #000;
    font-weight: 500;
}

@mixin up-triangle {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $primary-color;
}

@mixin down-triangle {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $primary-color;
}
