@import "../../../assets/styles/_abstracts/_variables.scss";

.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 2vh;
    grid-column-gap: 1vw;
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color-yellow;
        color: #fff;
        font-size: 20px;
    }
}