<section class="page-content">
    <div>Section 1</div>
    <div>Section 2</div>
    <div>Section 3</div>
    <div>Section 4</div>
    <div>Section 5</div>
    <div>Section 6</div>
    <div>Section 7</div>
    <div>Section 8</div>
    <div>Section 9</div>
</section>