*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 15px;
}
*::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: 1px solid rgb(219, 219, 219);
  border-radius: 15px;
}

::-webkit-input-placeholder {
    @include input-placeholder();
}
  
:-ms-input-placeholder {
    @include input-placeholder();
}
  
::placeholder {
    @include input-placeholder();
}

.page-wrap {
    &.full-height {
        display: grid;
        grid-template-rows: $header-height 1fr $footer-height;
        height: 100vh;
        .page-content {
            overflow-y: auto;
            padding: 15px;
            height: 100%;
        }
    }
}

.links-wrap {
    margin: 20px 0 10px;
    text-align: center;
}

.form-btn-wrap {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
}