<section class="page-content">
    <form class="forgot-password-form" [formGroup]="forgotPasswordForm">
        <div class="form-header">Forgot password</div>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email*</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
                Email is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <div class="form-btn-wrap">
            <button mat-raised-button color="primary" (click)="send()">Send</button>
            <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
        </div>
        <div class="links-wrap">
            <a class="link" [routerLink]="'/sign-in/login'" routerLinkActive="active-link">Go to login</a>
            <a class="link" [routerLink]="'/sign-in/reset-password'" routerLinkActive="active-link">Reset password</a>
        </div>
    </form>
</section>