@import "../../../../../assets/styles/_abstracts/_variables.scss";

.forgot-password-form {
    margin: 20px auto;
    width: 500px;
    .form-header {
        font-size: 20px;
        margin-bottom: 15px;
    }
}