@import "../../../assets/styles/_abstracts/_variables.scss";

footer {
    background: $primary-color;
    height: $footer-height;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    ul {
        height: 100%;
        display: flex;
        align-items: center;
        li {
            margin: 0 15px;
            a {
                color: #fff;
                text-decoration: none;
                opacity: 0.7;
                transition: all .3s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .copyright {
        color: #fff;
        text-align: center;
        margin-top: 10px;
    }
}