<footer>
    <ul>
        <li>
            <a [routerLink]="'/home'" routerLinkActive="active-link">Home</a>
        </li>
        <li>
            <a [routerLink]="'/sign-in/login'" routerLinkActive="active-link">Login</a>
        </li>
    </ul>
    <div class="copyright">© 2019 mydomain.com All Rights Reserved</div>
</footer>