<section class="page-content">
    <form class="login-form" [formGroup]="loginForm">
        <div class="form-header">Login</div>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Email*</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                Email is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
            <mat-label>Password*</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                Password is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="form-btn-wrap">
            <button mat-raised-button color="primary" (click)="login()">Login</button>
            <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
        </div>
        <div class="links-wrap">
            <a [routerLink]="'/sign-in/forgot-password'" routerLinkActive="active-link">Forgot password</a>
        </div>
    </form>
</section>