<section class="page-content">
    <form class="reset-password-form" [formGroup]="resetPasswordForm">
        <div class="form-header">Reset password</div>
        <mat-form-field appearance="outline" class="input">
            <mat-label>Password*</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required')">
                Password is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
            <mat-label>Confirm password*</mat-label>
            <input matInput formControlName="confirmPassword">
            <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">
                Confirm password is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="form-btn-wrap">
            <button mat-raised-button color="primary" (click)="send()">Send</button>
            <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
        </div>
        <div class="links-wrap">
            <a class="link" [routerLink]="'/sign-in/login'" routerLinkActive="active-link">Go to login</a>
            <a [routerLink]="'/sign-in/forgot-password'" routerLinkActive="active-link">Forgot password</a>
        </div>
    </form>
</section>