@import "../../../assets/styles/_abstracts/_variables.scss";

header {
    background: $primary-color;
    height: $header-height;
    width: 100%;
    display: grid;
    grid-template-columns: 33px 1fr;
    padding: 0 15px;
    .logo {
        display: flex;
        align-items: center;
        height: $header-height;
        cursor: pointer;
        img {
            max-width: 100%;
        }
    }
    ul {
        height: 100%;
        display: flex;
        align-items: center;
        li {
            margin: 0 15px;
            cursor: pointer;
            a {
                color: #fff;
                text-decoration: none;
                opacity: 0.7;
                transition: all .3s;
                &:hover {
                    opacity: 1;
                }
                &.active-link {
                    opacity: 1; 
                }
            }
        }
    }
}