<header>
    <a class="logo" [routerLink]="'/home'">
        <img src="assets/icons/logo.png" />
    </a>
    <ul>
        <li>
            <a [routerLink]="'/home'" routerLinkActive="active-link">Home</a>
        </li>
        <li>
            <a [routerLink]="'/sign-in/login'" routerLinkActive="active-link">Login</a>
        </li>
    </ul>
</header>