.btn {
    border: none;
    background: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    &:hover {

    }
}

.input {
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    display: block;
    width: 100%;
}

.project-link {
    font-weight: 500;
    cursor: pointer;
}

.link {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
}
